@{ 
    ViewBag.Title = "Log in";
}


<div class="container mt-5">
    <div class="card card-white mx-auto" style="max-width: 400px;">
        <h4>Log In</h4>

        @using (Html.BeginForm("Login", "Auth", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <input class="input-box" placeholder="Username" name="Username" />
                <input type="password" class="input-box" placeholder="Password" name="password"/>

                <div class="d-flex justify-content-between align-items-center">
                    <a href="/Auth/Register" class="text-light-grey">Register</a>
                    <button type="submit" class="btn btn-black">Log in</button>
                </div>
            }   
    </div>
</div>