<nav class="navbar navbar-expand-lg navbar-white p-2">
    <a class="navbar-brand bungee" href="/">Velaris</a>

    <div class="ms-auto">
        @if (User.Identity.IsAuthenticated)
        {
            <a href="/Auth/Logout">Log out</a>
        }
        else
        {
                    <a href="/Auth/Login">Log in</a>
        }
    </div>
</nav>
