@{
    ViewBag.Title = "Register";
}

<div class="container mt-5">
    <div class="card card-white mx-auto" style="max-width:400px;">
        <h4>Register</h4>

        @using(Html.BeginForm("Register", "Auth", FormMethod.Post))
        {
            <input class="input-box" placeholder="Username" name="Username" />
            <input type="email" class="input-box" placeholder="Email" name="Email"/>
            <input type="password" class="input-box" placeholder="Password" name="Password"/>
            <input type="password" class="input-box" placeholder="Confirm Password" name="ConfirmPassword"/>
        }
    </div>
</div>