:root {
    --primary-white: #f5f5f5;
    --primary-black: #0D0907;
    --hover: #555D50;
    --border-rad: 8px;
}

body {
    font-family: 'Roboto Mono', monospace;
    background-color: #f5f5f5;
}

h1, h2, h3, h4, h5, h6, .bungee {
    font-family: 'Bungee', sans-serif !important;
}

.card {
    background-color: var(--primary-white);
    box-shadow: 0 8px 16px rgba(0,0,0,0.15);
    padding: 20px;
    border-radius: var(--border-rad);
}

.navbar-white {
    background-color: var(--primary-white);
}

.navbar-white a {
    text-decoration: none;
    color: var(--primary-black);
}

.navbar-white a:hover {
    text-decordation: underline;
}

.btn-black {
    background-color: var(--primary-black);
    color: var(--primary-white);
}

.btn-black:hover {
    background-color: var(--hover);
    color: var(--primary-white);
}

.text-light-grey {
    color: #aaa;
}

.input-box {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: var(--border-rad);
    width: 100%;
}